.jumbotron-darktheme {
  padding: 0;
  margin-bottom: 0;
}

.banner-darktheme {
  padding: 10px 30px 30px 30px;
  position: relative;
  .photo1, .photo4 {
    width: 100%;
    padding-bottom: 30px;
    border-radius: $project-border-radius;
  }
  .photos2and3 {
    width: 100%;
    display: flex;
    position: relative;
    .photo2 {
      width: 50%;
      margin-right: 15px;
      margin-bottom: 30px;
      border-radius: $project-border-radius;
    }
    .photo3 {
      padding-bottom: 30px;
      width: 50%;
      padding-left: 15px;
      border-radius: $project-border-radius;
      img {
        width: 100%;
      }
    }
  }
}

.jumbotron-darktheme .banner-xs-darktheme {
  padding: 14px;
  img {
    width: 100%;
    padding-bottom: 14px;
  }
  .photos3and4 {
    width: 100%;
    display: flex;
    .photo3 {
      padding-right: 7px;
    }
    .photo4 {
      padding-left: 7px;
    }
  }
}

.home-text.home-text-darktheme {
  padding: 10px;
  background: #171717;
  label {
    color: white;
  }
  .text {
    display: flex;
    h1:first-child, h2:first-child {
      margin-top: 20px;
    }
    h2, h1{
      font-size: 16px !important;
      margin: 22px 10px 11px 10px;
      color: $home-font-color;
    }
    p {
      font-size: 14px !important;
      font-weight:200;
      color: $home-font-color;
      text-align: justify;
    }
  }
  .text-right {
    padding: 20px;
    text-align: left;
    p {
      margin: 0px 0px 11px 13px;
    }
    .article_content {
      display: block;
      #input2 {
        min-height: 185px;
      }
    }
  }
  .text-left {
    padding: 20px;
    span {
      top: 25px;
      font-family: Raleway;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 2px;
      color: white;
      text-shadow: 1px 1px 0px $primary;
    }
    .live-text {
      margin-top: 20px;
    }
    p {
      margin-left: 13px;
      margin-top: 0px;
      margin-bottom: 11px;
    }
    #live-text1 {
      min-height: 20px;
      p {
        margin-left: 13px;
        margin-top: 0px;
        margin-bottom: 11px;
      }
    }
    .article_content {
      display: block;
      #input1 {
        min-height: 185px;
      }
    }
  }
}
