.jumbotron {
  padding: 0;
  margin-bottom: 0;
}

.jumbotron .banner {
  background-size: cover;
  height: 1000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .banner-content {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: $home-font-color;
    padding: 0 10px;
    h1, h2, h3, p {
      color: $home-font-color;
    }
    h1 {
      text-shadow: 1px 1px 0px $home-text-shadow;
      margin-right: 30px;
    }
    p {
      font-weight: 400;
    }
  }
}

.jumbotron .banner-xs {
    background-size: cover;
    height: 634px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-content-xs {
      position: absolute;
      top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      color: $home-font-color;
      padding: 0 10px;
      h1, h2, h3, p {
        color: $home-font-color;
      }
      h1 {
        text-shadow: 1px 1px 0px $home-text-shadow;
        margin-right: 30px;
      }
    }
}

.home-text {
  background: linear-gradient(135deg, #979EA1, #454749);
  // linear-gradient(to right, #f0f2f0, #000c40)
  padding: 10px;
  .text {
    display: flex;
    h2:first-child {
      margin-top: 20px;
    }
    h2 {
      font-size: 16px !important;
      margin: 22px 10px 11px 10px;
      color: $home-font-color;
    }
    p {
      font-size: 14px !important;
      font-weight:200;
      margin: 0px 0px 11px 13px;
      color: $home-font-color;
    }
  }
  .text-right {
    padding: 20px;
    text-align: left;
  }
  .text-left {
    padding: 20px;
    width: 100%;
    .title-text-left {
      display: flex;
      align-items: center;
      img {
        width: 10%;
      }
    }
  }
}
