.jumbotron {
  padding: 0;
  margin-bottom: 0;
}

.jumbotron .banner {
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .banner-content {
    position: absolute;
    top: 100px;
    left: calc(50% - 400px);
    text-align: center;
    color: $home-font-color;
    padding: 0 10px;
    -moz-text-size-adjust: auto;
    .logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 30px;
      width: 800px;
      .blaireau {
        width: 55px;
        height: 100%;
      }
      .boite {
        width: 65px;
        height: 100%;
      }
      .bordureg {
        transform: rotate(0.06turn);
        width: 200px;
        margin-right: 20px
      }
      .bordured {
        width: 200px;
        margin-left: 20px;
        transform: scaleX(-1) rotate(0.06turn);
      }
    }
    h1, h2, h3, p {
      color: $home-font-color;
    }
    h1 {
      text-shadow: 1px 1px 0px $home-text-shadow;
      letter-spacing: 6px;
    }
    p {
      font-weight: 400;
    }
  }
  .bannermask {
    position: absolute;
    bottom: 0px;
  }
}

.jumbotron .banner-xs {
    background-size: cover;
    height: 634px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-content-xs {
      position: absolute;
      top: 100px;
      text-align: center;
      left: calc(50% - 137px);
      color: $home-font-color;
      padding: 0 10px;
      h1, h2, h3, p {
        color: $home-font-color;
      }
      h1 {
        text-shadow: 1px 1px 0px $home-text-shadow;
      }
    }
}

.home-info-bloc {
  width: 100%;
  display: flex;
  padding: 70px 30px;
  .home-info-text {
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    text-align: justify;
    h2 {
      font-size: 36px;
      margin-bottom: 30px;
    }
    p {
      font-weight: 100;
    }
  }
  .home-info-images {
    width: 70%;
    .inner-photos {
      width: 100%;
      height: 600px;
      margin: 0 auto;
      position: relative;
      .arbre {
        width: 350px;
        position: absolute;
        left: calc(11%);
        bottom: calc(15%);
        box-shadow: 0px 12px 50px rgba(0,0,0,0.42);
        border-radius: 2px;
      }
      .marais {
        width: 350px;
        position: absolute;
        right: calc(15%);
        top: 0px;
        box-shadow: 0px 12px 50px rgba(0,0,0,0.42);
        border-radius: 2px;
      }
      .bois {
        width: 500px;
        position: absolute;
        right: calc(4%);
        bottom: 0px;
        box-shadow: 0px 12px 50px rgba(0,0,0,0.42);
        border-radius: 2px;
      }
    }
  }
}

.home-text {
  background: linear-gradient(135deg, #979EA1, #454749);
  padding: 10px;
  .text {
    display: flex;
    h1:first-child, h2:first-child {
      margin-top: 20px;
    }
    h2, h1{
      font-size: 16px !important;
      margin: 22px 10px 11px 10px;
      color: $home-font-color;
    }
    p {
      font-size: 14px !important;
      font-weight:200;
      color: $home-font-color;
      text-align: justify;
    }
  }
  .text-right {
    padding: 20px;
    text-align: left;
    p {
      margin: 0px 0px 11px 13px;
    }
    .article_content {
      display: block;
      #input2 {
        min-height: 185px;
      }
    }
  }
  .text-left {
    padding: 20px;
    span {
      top: 25px;
      font-family: Raleway;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 2px;
      color: white;
      text-shadow: 1px 1px 0px $primary;
    }
    .live-text {
      margin-top: 20px;
    }
    p {
      margin-left: 13px;
      margin-top: 0px;
      margin-bottom: 11px;
    }
    #live-text1 {
      min-height: 20px;
      p {
        margin-left: 13px;
        margin-top: 0px;
        margin-bottom: 11px;
      }
    }
    .article_content {
      display: block;
      #input1 {
        min-height: 185px;
      }
    }
  }
}

.btn-home {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2px;
}
