.page-top-lighttheme {
  h1 {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: 20px;
  }
}

  .cart-container {
    table {
      margin: auto;
      width: 95%;
      h4, h5 {
        font-weight: 300;
      }
      tr {
        border-bottom: 1px solid rgba(100,100,100,.1);
      }
      th:nth-child(3) {
        text-align: center;
        width: 350px;
      }
       th:nth-child(4) {
        text-align: right;
      }
      th {
        padding-bottom: 10px;
        margin-top: 20px;
        font-size: 12px;
        color: #bfbfbf;
        font-weight: 100;
        min-width: 50px;
      }
      td:nth-child(3) {
        text-align: center;
      }
       td:nth-child(4) {
        text-align: right;
        min-width: 70px;
      }
      .basket-delete {
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        .delete-article {
          color: black;
          margin-right: 20px;
        }
      }
      .cart-item {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        img {
          width: 20%;
          margin-right: 20px;
        }
      }
    }
  }

.total-lighttheme {
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  h3, h5 {
    text-align: right;
    font-weight: 300;
  }
  h3 {
    margin-bottom: 50px;
  }
}

@media all and (min-width: 700px) {
  .container.lightthemecart {
    padding: 0px;
  }
}

@media all and (max-width: 700px) {
  .page-top-lighttheme {
    h1 {
      margin-top: 0px;
    }
  }
  .container.lightthemecart {
    table {
      h5 {
      margin: 0px;
      }
      h4 {
        font-size: 14px;
      }
    }
   th:nth-child(3) {
      text-align: center;
      width: 40px;
    }
    .cart-item {
      display: flex;
      align-items: center;
      margin: 20px 0;
      img {
        width: 40%;
        margin-right: 8px;
      }
    }
  }
  .total-lighttheme {
    margin: 20px auto ;
    h3, h5 {
      text-align: right;
      font-weight: 300;
      margin-right: 10px;
    }
    h3 {
      font-size: 26px;
      margin-bottom: 25px;
    }
  }
  form {
    margin-bottom: 20px;
  }
}
