// LAPTOP
.wrapper-lighttheme {
  display: flex;
  margin-bottom: 30px;
  position: relative;

  .img-avatar {
    width: 50%;
    height: 50%;
    border-radius: 1px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #live-text {
    width: 50%;
    h1 {
      font-size: $font-size-h4;
      margin: 11px 0px 30px 0px;
      color: #757575;
    }
    h2 {
      font-weight: 400;
      font-size: $font-size-h5;
      margin: 19px 0px 0px 0px;
      color: #757575;
    }
    p {
      margin: 8px 10px 10px 10px;
      font-weight: $font-weight-p;
      text-align: justify;
      color: #757575;
    }
    margin-top: 20px;
    margin-bottom: 10px;
    padding: $padding-large;
  }

  #live-text1 {
    h1 {
      font-size: $font-size-h4;
      margin: 11px 0px 30px 0px;
    }
    h2 {
      font-weight: 400;
      font-size: $font-size-h5;
      margin: 19px 0px 0px 0px;
    }
    p {
    margin: 8px 10px 10px 10px;
    font-weight: $font-weight-p;
    }
    margin-top: 20px;
    margin-bottom: 10px;
    padding: $padding-small;
  }
  .article_content {
    margin-top: 20px;
    #input1 {
      min-height: 330px;
    }
  }
}

.body-lighttheme {
  .localisation {
    border-radius: 1px;
    display: flex;
    margin-bottom: 30px;
    position: relative;
    border: none;
    .img-city {
      img {
        height: 200px;
      }
    }
    #map {
      width: 100%;
      height: 200px;
    }
  }
}

// MOBILE
.wrapper-mobile-lightheme {
  position: relative;
  margin: 0px 10px 30px 10px;
  background: $card-background;
  padding: $padding-small;
  border-radius: 1px;
  border: $card-border;
  .img-avatar-mobile {
    text-align: center;
    img {
      width: $mobile-avatar-image-width;
      height: $mobile-avatar-image-width;
      border: 1px solid white;
      box-shadow: 1px 1px 1px grey;
      border-radius: 50%;
      top: 48px;
      right: 12px;
    }
  }
  h1 {
    text-align: center;
    font-size: $font-size-h4;
    margin: 11px 0px 30px 0px;
    color: #757575;
  }
  h2 {
    font-weight: 400;
    font-size: $font-size-h5;
    margin: 19px 0px 0px 0px;
    color: #757575;
  }
  p {
    margin: 8px 10px 10px 10px;
    font-weight: $font-weight-p;
    text-align: justify;
    color: #757575;
  }
}

.localisation-mobile {
  border-radius: $project-border-radius;
  border: $card-border;
  margin-bottom: 20px;
  .img-city-mobile {
    img {
      width: 100%;
    }
  }
  #map-mobile {
    width: 100%;
    height: 120px;
  }
}

.back-in-home-mobile {
  text-decoration: none;
  color: $primary;
  margin-bottom: 30px;
  margin-left: 20px;
}

.mobile-info {
  margin-bottom: 20px;
}

// COMMON

a:hover {
  color: $primary;
  text-decoration: none;
}
