.lighttheme-payment-h1 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 10px;
}

.pay-form-lighttheme {
  .adress, .product-amount, .lesson-amount {
    margin-top: 20px;
    margin-bottom: 10px;
    background: $card-background;
    padding: $padding-large;
    border-radius: 1px;
    border: $card-border;
    text-decoration: none;
    min-width: 600px;
  }
  margin-bottom: 100px;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4 {
      margin-bottom: 15px;
      font-weight: 300;
    }
    h3 {
      font-weight: 400;
    }
    .stripe-button-el span{
      font-size: $font-size-a;
    }
    a {
      margin-top: 10px;
    }
  }
}

.secure {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  h5 {
    margin-right: 3px;
  }
  .stripe {
    height: 20px;
  }
}

// MOBILE
.pay-form.mobile {
  margin: 0px 10px 10px 10px;
}

.mobile-link-coord {
  text-align: center;
  margin-top: 10px;
}

.laptop-link-coord {
  width: 60%;
  border-radius: 1px;
  padding: 21px 34px;
  border: 1px solid black;
  background-color: white;
  transition: 0.1s background-color linear, 0.1s color linear;
  margin: auto;
  a {
    color: black;
    font-size: 14px;
  }
}
.laptop-link-coord:hover {
  background-color: black;
  transition: 0.1s background-color linear, 0.1s color linear;
  a {
    color: white;
  }
}
