<div class="container new-article">
  <div class="row">
    <div class="col-xs-12">
      <% article_typing("article", "vertical", "markdown1", "live-text1", "input1") %>
      <% @markdown = @markdown1 %>
      <%= render 'shared/articletyping' %>
    </div>
  </div>
</div>
