<%= render  'shared/images_box_inclined',
    image_1: cl_image_path(@top_category.photo_1.path),
    image_2: cl_image_path(@top_category.photo_2.path),
    mobile: false,
    image1_left: "0px",
    title: "<h1>Les créations uniques en Morta</h1>" %>
