<% if session[:zoom_message] < 1 %>
  <style>
  .ceramique-images .img-front {
       filter:brightness(55%);
  }
  </style>
  <div class="imageoverlay">
    <div class="overlay-text">
      <p>Changez le niveau de zoom avec la molette de la souris ou le touchpad</p>
      <%=image_tag "mousewheel.svg", class: "mousewheel"%>
      <%=image_tag "fingerzoom.svg", class: "mousewheel"%>
      <h5 class="overlay-ok">OK</h5>
    </div>
  </div>
<% end %>
