<div class="social-buttons">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?<%=@twitter_url%>">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin" data-pin-custom="true">
      <i class="fa fa-pinterest-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
  </div>
