<div class="social-buttons">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?<%=@twitter_url%>">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin" data-pin-custom="true">
      <i class="fa fa-pinterest-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>

    <!-- <div class="fb-share-button" data-href="https://ecommercebase.herokuapp.com/produits" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F<%=ENV[]%>.herokuapp.com%2F<%=request.fullpath%>&amp;src=sdkpreparse">Partager</a></div> -->
    <a href="http://www.facebook.com/share.php?u=https://herokuapp.com<%=request.fullpath%>"
     target="_blank">facebook</a>
  </div>


