<% unless session[:email]%>
  <div class="subscribe-text">
    <h2>Contact</h2>
  </div>
  <form action="/user-subscribe" method="post" authenticity_token="true" class="subscribe-form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="user[email]" id="email" placeholder="Adresse Email" class="subscribe-input">
    <input type="text" name="user[first_name]" id="first_name" placeholder="Prénom Nom" class="subscribe-input">
    <textarea name="user[tracking]" id="tracking" placeholder="Entrez votre message" class="subscribe-input textarea"></textarea>
    <input type="submit" class="btn btn-primary" value="ENVOYER">
  </form>
<% end %>

