// LAPTOP

.wrapper-2 {
  margin: 50px 0;
}

.wrapper-1 {
  margin: 30px 0;
}

.wrapper-1, .wrapper-2 {
  display: flex;
  position: relative;

  .photo-atelier {
    width: 40%;
  }

  .img-avatar, .img-city {
    width: 40%;
    height: 40%;
    flex: 0 0 25%;
    border-radius: $project-border-radius;
    min-height: 350px;
    min-width: 450px;
    box-shadow: 1px 1px 5px #333;
  }

  .img-avatar {
    margin-right: 10px;
  }
  .img-city {
   margin-left: 10px;
  }

  .live-text {
    width: 60%;
    h1 {
      font-size: $font-size-h4;
      margin: 11px 0px 30px 0px;
    }
    h2 {
      font-weight: 400;
      font-size: $font-size-h5;
      margin: 19px 0px 0px 0px;
    }
    p {
    margin: 8px 10px 10px 10px;
    font-weight: $font-weight-p;
    text-align: justify;
    }
    background: $card-background;
    padding: $padding-large;
    border-radius: $project-border-radius;
    border: $card-border;
  }

  .live-text1, .live-text2 {
    h1 {
      font-size: $font-size-h4;
      margin: 11px 0px 30px 0px;
    }
    h2 {
      font-weight: 400;
      font-size: $font-size-h5;
      margin: 19px 0px 0px 0px;
    }
    p {
    margin: 8px 10px 10px 10px;
    font-weight: $font-weight-p;
    }
    background: $card-background;
    padding: $padding-small;
    border-radius: $project-border-radius;
    border: $card-border;
  }
  .article_content {
    #input1 {
      min-height: 330px;
    }
  }
}


// MOBILE
.wrapper-mobile {
  position: relative;
  margin: 0px 10px 30px 10px;
  background: $card-background;
  padding: $padding-small;
  border-radius: $project-border-radius;
  border: $card-border;
  .img-avatar-mobile {
    text-align: center;
    img {
      width: 100%;
    }
  }
  h1 {
    text-align: center;
    font-size: $font-size-h4;
    margin: 11px 0px 30px 0px;
  }
  h2 {
    font-weight: 400;
    font-size: $font-size-h5;
    margin: 19px 0px 0px 0px;
  }
  p {
    margin: 8px 10px 10px 10px;
    font-weight: $font-weight-p;
    text-align: justify;
  }
}

.localisation-mobile {
  border-radius: $project-border-radius;
  border: $card-border;
  margin-bottom: 20px;
  .img-city-mobile {
    img {
      width: 100%;
    }
  }
  #map-mobile {
    width: 100%;
    height: 120px;
  }
}

.mobile-info {
  margin-bottom: 20px;
}

// COMMON

a:hover {
  color: $primary;
  text-decoration: none;
}
