.univers-strip {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  .image-box-1 {
    width: 50%;
    height: 100%;
    transform: skew(20deg);
    overflow:hidden;
    position: relative;
    margin-left: -40px;
    .strip-image1 {
      height: 100%;
      position: absolute;
      top: 0px;
      right: -40px;
      bottom: 0px;
      left: 0px;
      transform: skew(-20deg)
    }
  }
    .strip-image2 {
      height: 100%;
      width: 58%;
      margin-left: -40px;
      .offer_button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 100px;
        width: 100px;
        text-align: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        background: $primary;
        box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
        border: 1px solid white;
        transform: rotate(0.05turn);
        transition: all ease 0.2s;
        &:hover {
          transform: rotate(0turn);
        }
        p {
          font-size: 14px;
          font-weight: 300;
          color: black;
          margin: auto auto;
        }
      }
    }
  h1 {
    font-size: $font-size-h4;
    padding: 20px 0 0 0;
    margin: 0;
    margin-left: 40px;
    padding-left: 20px;
    color: $primary !important;
    text-shadow: 1px 1px 1px black;
    font-size: 25px;
  }
}

.h1-index.mobile {
  margin: 0px 10px;
  hr {
    margin: 5px 0px 20px 0px;
  }
}

.cardlink {
  text-decoration: none !important;
}

.ceramiquecard {
  margin: 0px 10px 30px 10px;
  padding: $padding-small;
  background: $card-background;
  border-radius: $project-border-radius;
  border: $card-border;
  text-decoration: none;
  position: relative;
  min-height: 450px;
  display: flex;
  flex-direction: column;

  .ribbon {
    z-index: 1;
    position: absolute;
    top: -1px;
    right: 15px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 0;
    height: 55px;
    border: 28px solid $discount;
    border-top: 0 solid;
    border-bottom: 17px solid rgba(0,0,0,0);
    border-radius: 2px 2px 5px 5px;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
  }

  p.discount-offer {
    z-index: 2;
    position: absolute;
    top: 15px;
    right: 20px;
    margin: 0px;
    font-size: 17px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    transform: rotate(1.05turn);
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;
    height: 300px;

    .img {
      border-radius: $project-border-radius;
      width: 95%;
    }
    .img-resized {
      border-radius: $project-border-radius;
    }
    .prix-index {
      position: absolute;
      bottom: -59px;
      right: -15px;
    }
    .previous-price {
      font-size: 13px;
      font-weight: 400;
      position: absolute;
      bottom: -76px;
      right: -9px;
      text-decoration: line-through;
      color: black;
    }
  }

  h3 {
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  p.small {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    text-align: justify;
    color: $card-text;
    font-weight: $font-weight-h5;
    font-size: $font-size-h5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 62px;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  p.large {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    text-align: justify;
    color: $card-text;
    font-weight: $font-weight-h5;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 62px;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .allpricesmobile-w {
    position: absolute;
    bottom: 11px;
    right: 16px;
    width: 109px;
    height: 44px;
    background: $card-background;
    border: 1px solid grey;
    text-align: center;
    border-radius: 27px;
    margin: 0;
    box-shadow: 1px 1px 0px $primary, 2px 2px 5px rgba(0, 0, 0, 0.2);
    .prix-index-mobile {
      color: black;
      font-size: $font-size-h4;
      margin: 0;
    }
    .previous-price-mobile {
      font-size: 13px;
      font-weight: 400;
      text-decoration: line-through;
      color: black;
      margin: 0;
    }
  }
  .allpricesmobile-wo, .allpricesmobile-w-zero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 11px;
    right: 16px;
    width: 109px;
    min-height: 46px;
    background: $card-background;
    border: 1px solid grey;
    text-align: center;
    border-radius: 27px;
    margin: 0;
    box-shadow: 1px 1px 0px $primary, 2px 2px 5px rgba(0, 0, 0, 0.2);
    .prix-index-mobile {
      position: relative;
      top: -2px;
      font-size: $font-size-h4;
      margin: 0;
      color: black;
    }
  }
  .card-title {
    margin: auto;
    h2 {
      text-align: center;
      font-size: 25px;
      color: black;
      font-weight: 400;
      margin: 0;
      text-decoration: none;
    }
    .laptop-h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 24px;     /* fallback */
      max-height: 72px;      /* fallback */
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    .card-mobile-h2 {
      text-align: center;
      margin: 10px 10px 15px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 24px;     /* fallback */
      max-height: 72px;      /* fallback */
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
}

@media all and (max-width: 600px) {
  .ceramiquecard {
    margin: 0px 10px 10px 10px;
    padding: 7px 0px 0px 0px;
    min-height: 0px;
    position: relative;
    h3 {
      margin-bottom: 20px;
      color: $card-text;
      font-weight: $font-weight-h5;
      font-size: $font-size-h5;
    }
  }
}

.ceramiquecard:hover {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.ceramique-list {
  margin: 20px 0 60px 0;
}

.no-ceramique-list {
  min-height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  .no-ceramique {
    text-align: center;
    margin: auto
  }
}


.container-lighttheme {
  .no-ceramique-list {
    margin-top: 100px;
    margin-bottom: 100px;
    .no-ceramique {
      text-align: center;
    }
  }
}

@media all and (max-width: 990px) {
  .no-ceramique-list {
    margin-top: 50px;
  }
}

@media all and (max-width: 990px) and (min-width: 600px){
  .home-page-ceramique-container .ceramique-2 {
    display: none;
  }
}
