.h1-index {
  h1 {
    font-size: $font-size-h4;
    margin: 0px;
  }
  hr {
    margin: 5px 0px 10px 0px;
  }
}

.h1-index.mobile {
  margin: 0px 10px;
  hr {
    margin: 5px 0px 20px 0px;
  }
}

.cardlink {
  text-decoration: none !important;
}

.ceramiquecard {
  margin: 20px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: $padding-small;
  background: $card-background;
  border-radius: $project-border-radius;
  border: $card-border;
  text-decoration: none;
  min-height: 485px;
  position: relative;

  .ribbon {
    z-index: 1;
    position: absolute;
    top: -1px;
    right: 15px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 0;
    height: 55px;
    border: 28px solid $discount;
    border-top: 0 solid;
    border-bottom: 17px solid rgba(0,0,0,0);
    border-radius: 2px 2px 5px 5px;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
  }

  p.discount-offer {
    z-index: 2;
    position: absolute;
    top: 15px;
    right: 20px;
    margin: 0px;
    font-size: 17px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    transform: rotate(1.05turn);
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;
    height: 300px;

    .img {
      border-radius: $project-border-radius;
      width: 95%;
    }
    .img-resized {
      border-radius: $project-border-radius;
    }
    .prix-index {
      position: absolute;
      bottom: -59px;
      right: -15px;
    }
    .previous-price {
      font-size: 13px;
      font-weight: 100;
      position: absolute;
      bottom: -76px;
      right: -9px;
      text-decoration: line-through;
      color: black;
    }
  }

  h2 {
    margin-top: 30px;
    font-size: $font-size-h4;
    color: $h2card;
  }

  h2, h3 {
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    h2:hover, h2:hover {
      text-decoration: none;
    }
  }

  p.small {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    text-align: justify;
    color: $card-text;
    font-weight: $font-weight-h5;
    font-size: $font-size-h5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 62px;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  p.large {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    text-align: justify;
    color: $card-text;
    font-weight: $font-weight-h5;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 104px;      /* fallback */
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .allpricesmobile-w {
    position: absolute;
    bottom: 11px;
    right: 16px;
    width: 109px;
    height: 44px;
    background: $card-background;
    border: 1px solid lighten($primary, 10%);
    text-align: center;
    border-radius: 27px;
    margin: 0;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    .prix-index-mobile {
      font-size: $font-size-h4;
      margin: 0;
      margin-top: 3px;
    }
    .previous-price-mobile {
      font-size: 13px;
      font-weight: 100;
      text-decoration: line-through;
      color: black;
      margin: 0;
    }
  }
  .allpricesmobile-wo, .allpricesmobile-w-zero {
    position: absolute;
    bottom: 11px;
    right: 16px;
    width: 109px;
    height: 31px;
    background: $card-background;
    border: 1px solid lighten($primary, 10%);
    text-align: center;
    border-radius: 27px;
    margin: 0;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    .prix-index-mobile {
      font-size: $font-size-h4;
      margin: 0;
      margin-top: 3px;
    }
  }
}

@media all and (max-width: 600px) {
  .ceramiquecard {
    margin: 0px 10px 10px 10px;
    padding: 7px 0px 0px 0px;
    min-height: 0px;
    position: relative;
    h3 {
      margin-bottom: 20px;
      color: $card-text;
      font-weight: $font-weight-h5;
      font-size: $font-size-h5;
    }
    .card-mobile-h2 {
      text-align: center;
      margin: 20px 0;
      text-shadow: 1px 1px #f1f1f1;
      color: #555;
    }
  }
}

.ceramiquecard:hover {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.ceramique-list {
  margin-bottom: 60px;
}

.no-ceramique-list {
  margin-top: 200px;
  .no-ceramique {
    text-align: center;
  }
}

.container-lighttheme {
  .no-ceramique-list {
    margin-top: 100px;
    margin-bottom: 100px;
    .no-ceramique {
      text-align: center;
    }
  }
}

@media all and (max-width: 800px) {
  .no-ceramique-list {
    margin-top: 50px;
  }
}
