#ceramique-filters-content {
  width: 250px;
  margin-top: 20px;
  background: $card-background;
  border-radius: $project-border-radius;
  border: $card-border;
  padding: $padding-small;
  z-index: 2;
  form {
    padding: 10px;
  }
  .label-search {
    font-weight: $font-weight-label;
  }
  .label-search.all {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .aa-input-mobile {

  }
  h2 {
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: black;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $primary;
  }

  h3 {
    margin: 20px 0 5px 0;
    font-size: $font-size-h5;
    font-weight: $font-weight-h5-search;
  }

  input {
    margin-right: 5px;
  }

  .prix {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-left: 12px;
    }
    li:last-child {
      margin-bottom: 10px;
    }
  }
  #recherche {
    width: 100%;
  }
}

#ceramique-filters-content-mobile {
  overflow-y: auto;
  position: fixed;
  top: 100vh;
  height: 100vh;
  left: 0px;
  width: 100%;
  z-index: 5;
  transition: top 0.6s ease;
  background: $card-background;
  padding: $padding-small;
  form {
    padding: 10px;
  }
  #close-search {
    position: absolute;
    top: 23px;
    right: 16px;
    font-size: 27px;
    color: $filter-title;
  }
  .label-search {
    font-weight: $font-weight-label;
  }
  .label-search.all {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .lienalgolia .algolialogo {
    margin-top: -4px;
  }
  h2 {
    font-weight: $font-weight-h4-search;
    font-size: $font-size-h4;
    margin-bottom: 20px;
    margin-top: 5px;
    color: $filter-title;
    background: $navbar;
    border-radius: $project-border-radius;
    padding: 10px;
    box-shadow: 1px 1px 1px grey;
  }

  h3 {
    margin: 20px 0 15px 0;
    font-size: $font-size-h5;
    font-weight: $font-weight-h5-search;
    background-color: #cecece;
    padding: 5px;
    border-radius: $project-border-radius;
    box-shadow: 1px 1px 1px grey;
  }

  input {
    margin-right: 5px;
  }

  .prix {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-left: 20px;
    }
    li:last-child {
      margin-bottom: 10px;
    }
  }
  #recherche {
    width: 100%;
    margin-top: 25px;
  }
}

#mobile-filter-search {
  position: fixed;
  border: 1px solid white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  box-shadow: 1px 4px 1px rgba(0,0,0,0.5);
  z-index: 3;
  background-color: $primary;
  color: white;
  margin-left: 5px;
  margin-top: -7px;
  .fa {
    margin: auto auto;
    font-size: 30px;
  }
}

