<% content_for(:description) do %>
  <%= t(:agenda_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%= t(:agenda_title)%>
<% end %>

 <div class="container">

   <div class="row agenda">
    <div class="col-xs-12 col-sm-5 agenda-text">
      <%= render 'shared/article_display_quill', article_name: "agenda", id: 0, display_only: false, additional_class: "" %>
    </div>
    <div class="col-xs-12 col-sm-2 agenda-separator">
      <div class="agenda-hr"></div>
    </div>
    <div class="col-xs-12 col-sm-5 agenda-text">
      <%= render 'shared/article_display_quill', article_name: "ventes", id: 1, display_only: false, additional_class: "" %>
    </div>
  </div>
</div>



