<% content_for(:noindex) do %>
<meta name="robots" content="noindex">
<% end %>
<% content_for(:description) do %>
<%= t(:cgv)%>
<% end %>
<% content_for(:title_tag) do %>
  <%= t(:cgv)%>
<% end %>

 <div class="container">

   <div class="row CGV">
    <div class="col-xs-12 CGV">
      <% if user_signed_in? && current_user.admin %>
        <% article_typing("cgv", "vertical", "markdown1", "live-text1", "input1") %>
        <% @markdown = @markdown1 %>
        <div class="live-text">
          <%= render 'shared/articletyping' %>
        </div>
      <% else %>
        <div class="plain-text">
          <% article_display("cgv", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>
    </div>
  </div>
</div>



