<% content_for(:description) do %>
  Le Morta est issu d'un territoire d'exception au mille facettes. Découvrez, les marais, la faune et les hommes qui le compose.
<% end %>

<% content_for(:title_tag) do %>
  Découvrez la Brière, le territoire du Morta
<% end %>

<div class="briere-bloc">
    <div class="left-bloc">
        <div class="vertical-line"></div>
        <div class="briere-text">
          <h1>Le marais de la Brière</h1>
          <hr>
          <p>La Brière contient en son centre de grand espaces humides, entourés par un paysage de bocage plus ou moins continu. Elle abrite également des marais saumâtres et des marais salants. Cette diversité de paysages existe grâce au concours de l'homme et de la nautre qui ont tous deux façonné le paysage. Ce territoire tient aussi sa particularité dans son status. Il est le bien indivisible des 21 communes qui le compose. La Brière offre donc un voyage culturel et naturel à ses visiteurs.</p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="right-bloc first-image-briere">
      <style>
        .first-image-briere {
          background-image: url(<%= image_path "marais4.jpg"%>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
    </div>
</div>
<div class="briere-bloc">
    <div class="left-bloc">
        <div class="vertical-line"></div>
        <div class="briere-text">
          <h2>Un écrin pour la biodiversité</h2>
          <hr>
          <p>Le Parc naturel régional de Brière est composé d'une variété de biotopes. Ils sont habités par une faune et une flore riches et spécifiques. Cette richesse a conduit en 1995 les marais de Brière à être inscrits à la Convention Internationale de Ramsar. Pour les espèces les plus fragiles ou considérées comme majeures, des actions d'envergure régionales et nationales sont entreprises. Le Parc naturel régional est le leader du de l'essor local des mesures prises pour la protection de la nature.</p>
          <p>Cet ensemble de marais est vital pour les oiseaux qui y transitent ou y demeurent. Il revêt une importance majeur pour l’hivernage et la reproduction de certaines espèces d'oiseaux d’eau.</p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="right-bloc second-image-briere">
      <style>
        .second-image-briere {
          background-image: url(<%= image_path "bird.jpg"%>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
    </div>
</div>
<div class="briere-bloc">
    <div class="left-bloc">
        <div class="vertical-line"></div>
        <div class="briere-text">
          <h2>Les marais salants</h2>
          <hr>
          <p>Les artisans des salines utilisent une technique ancestrale, qui remonte au XVème siècle. Ce milieu fragile a failli disparaître avec des projets immobiliers initiés à la fin des années 1960. Grâce à la résistance des populations locales cet héritage a perduré jusqu'aujourdhui, vous permettant de visiter un patrimoine artisanal et naturel historique.</p>
          <p>Les salines produisent 10 000 tonnes de sel qui bénéficient depuis 2012 d'une indication géographique protégée de la Comission Européenne.</p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="right-bloc third-image-briere">
      <style>
        .third-image-briere {
          background-image: url(<%= image_path "sel.jpg"%>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
    </div>
</div>
<div class="briere-bloc">
    <div class="left-bloc">
        <div class="vertical-line"></div>
        <div class="briere-text">
          <h2>Activités humaines</h2>
          <hr>
          <p>La Brière regorge de richesses naturelles exploitées depuis le XVème siècle. L'homme tire parti du roseau, de la tourbe, du morta, de la chasse, de la pêche et de l'élevage.</p>
          <p>Le roseau est utilisé pour construire des toits de chaume. La tourbe ramassée historiquement pour le chauffage sert maintenant de terreau naturel. Le bois noble qu'est le morta offre la possibilité aux artisans de réaliser des objets d'art uniques.</p>
          <p>Les zones de marais recèlent d'animaux nuisibles tels les ragondins qui font le bonheur des chasseurs. Enfin, les éleveurs bénéficient de ces vastes étendues pour faire paître leurs troupeaux.</p>
        </div>
        <div class="vertical-line"></div>
    </div>
    <div class="right-bloc fourth-image-briere">
      <style>
        .fourth-image-briere {
          background-image: url(<%= image_path "chaume.jpg"%>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
    </div>
</div>
