<% content_for(:description) do %>
  Découvrez les articles de presse parus sur Ty Morta.
<% end %>
<% content_for(:title_tag) do %>
  Articles de presse sur Ty Morta
<% end %>

 <div class="container">

   <div class="row blog-page">
    <div class="col-xs-12 blog-page-text">
      <%= render 'shared/article_display_quill', article_name: "presse", id: 0, display_only: false, additional_class: "" %>
    </div>
  </div>
</div>
