<% content_for(:description) do %>
  Procédure de commande pour les professionnels, désirant bénéficier de tarifs sur des lots.
<% end %>
<% content_for(:title_tag) do %>
  Commande d'objets d'art en Morta pour les professionnels
<% end %>

 <div class="container">

   <div class="row blog-page">
    <div class="col-xs-12 blog-page-text">
      <%= render 'shared/article_display_quill', article_name: "btob", id: 0, display_only: false, additional_class: "" %>
    </div>
  </div>
</div>
