<% content_for(:description) do %>
  Decouvrez l'univers de Ty Morta à travers ses sites partenaires.
<% end %>
<% content_for(:title_tag) do %>
  Sites partenaires de Ty Morta
<% end %>

 <div class="container">

   <div class="row blog-page">
    <div class="col-xs-12 blog-page-text">
      <%= render 'shared/article_display_quill', article_name: "site_partenaires", id: 0, display_only: false, additional_class: "" %>
    </div>
  </div>
</div>
