<% content_for(:description) do %>
  Decouvrez l'univers de Ty Morta à travers ses sites partenaires.
<% end %>
<% content_for(:title_tag) do %>
  Sites partenaires de Ty Morta
<% end %>

 <div class="container">

   <div class="row blog-page">
    <div class="col-xs-12 blog-page-text">
      <% if user_signed_in? && current_user.admin %>
        <% article_typing("site_partenaires", "vertical", "markdown1", "live-text1", "input1") %>
        <% @markdown = @markdown1 %>
        <div class="live-text">
          <%= render 'shared/articletyping' %>
        </div>
      <% else %>
        <div class="plain-text">
          <% article_display("site_partenaires", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>
    </div>
  </div>
</div>
