#footer-lighttheme {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  .contact {
    display: flex;
    h3 {
      font-size: 18px;
      font-weight: 400;
    }
    h4, span {
      font-size: 14px;
      font-weight: 300;
    }
    .connect, .CGV {
      margin: 20px;
    }
    .CGV {
      min-height: 100px;
      margin-bottom: 0px;
    }
  }
  a {
    color: black;
  }
  a:hover {
    color: #757575;
  }
  .link-guillaume {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: black;
  }
}

@media all and (max-width: 500px) {
  #footer-lighttheme  {
    display: block;
    .contact {
      display: block;
      margin-bottom: -15px;
      h3 {
        margin-bottom: 10px;
      }
      .connect {
        padding-top: 10px;
      }
    }
    .link-guillaume {
      bottom: 5px;
    }
  }
}
