.footermask {
  width: 100%;
  transform: scaleY(-1);
  position: absolute;
  z-index: 2;
}

#footer {
  height: 162px;
  background-color: $footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .contact-default {
    z-index: 3;
    background-color: $footer;
    display: flex;
    align-items: center;
    color: white;
    font-size: $font-size-footer-icone;
    a {
      margin-left: 30px;
      color: $footer-color-text;
    }
    i {
      color: $footer-color-text;
      margin-right: 20px;
      cursor: pointer;
      &:hover {
      font-size: larger;
      }
    }
    h6 {
      color: $footer-color-text;
      .middle-text {
        margin-right: 10px !important;
      }
    }
    .info-text {
      width: 0px;
      transition: width ease 0.2s;
      visibility: hidden;
    }

    .info-text.visible {
      width: 100%;
      outline: none;
      visibility: visible;
      margin-right: 20px;
    }
  }
  .mylink {
    position: absolute;
    right: 12px;
    bottom: 12px;
    img {
      width: 42px;
    }
  }

}

#footer-mobile {
  background-color: $footer;
  display: flex;
  align-items: flex-start;

  .contact-default {
    background-color: $footer;
    color: $navbar;
    font-size: $font-size-footer-icone;
    h6, i {
    color: $footer-color-text;
    }
    .link {
      margin-top: 10px;
      margin-left: 20px;
    }
    .phone, .envelope {
      display: flex;
      align-items: center;

      .info-text {
        width: 0px;
        margin: 0px;
        transition: width ease 0.2s;
        visibility: hidden;
      }

      .info-text.visible {
        margin-left: 10px;
        outline: none;
        visibility: visible;
      }
    }
    .envelope {
      margin: 10px 10px 10px 20px;
    }
    .phone {
      margin: 0px 10px 10px 20px
    }
  }
}
