#footer {
  background-color: $footer;
  display: flex;
  .contact-default {
    width: 25%;
    padding: 10px 0;
    a {
      text-decoration: none;
    }
    .icone-bloc {
      min-height: 38px;
      display: flex;
      align-items: center;
      margin-left: 25px;
      i {
        color: $primary;
        margin-right: 10px;
        cursor: pointer;
      }
      h6 {
        color: $primary;
        font-weight: 500;
        opacity: 0;
        transition: ease 0.2s;
      }
    }
  }
  .footer-center-infos {
    display: flex;
    width: 50%;
    justify-content: center;
    .center-bloc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
    }
    a {
      font-weight: 100;
    }
    .first-a {
      margin-bottom: 10px;
    }
  }
  .mylink {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
  }
}

h6.visible {
  opacity: 1 !important;
}

@media all and (max-width: 600px) {
  .contact-default {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .icone-bloc {
      height: 45px;
      display: block !important;
      margin-left: 5px !important;
      text-align: center;
      h6 {
        font-size: 11px;
        margin: 2px;
      }
    }
  }
  .footer-center-infos {
    display: block !important;
    margin: 10px 0 !important;
    .center-bloc {
      display: block;
      margin: 0 20px !important;
      a {
        margin-bottom: 10px;
      }
    }
  }
  .mylink {
    margin-right: 5px !important;
    img {
      margin-right: 10px;
    }
  }
}
