.content-lighttheme {
  min-height: calc(100vh - 90px);
}

.subscribe-text {
  text-align: center;
  h2 {
    font-weight: 400;
    font-size: 35px;
    margin-left: 0px;
  }
  p {
    font-weight: 100;
    font-size: 15px;
  }
}

.subscribe-form {
  text-align: center;
  margin-bottom: 40px;
  .subscribe-input {
    padding: 21px 34px 21px 15px;
    border: 1px solid #bfbfbf;
    font-size: 14px;
    color: black;
    font-weight: 100;
  }
  .subscribe-submit {
    margin-left: 7px;
    border-radius: 1px;
    padding: 21px 34px;
    font-size: 14px;
    color: black;
    border: 1px solid black;
    background-color: white;
    transition: 0.1s background-color linear, 0.1s color linear;
  }
  .subscribe-submit:hover {
    background-color: black;
    color: white;
    transition: 0.1s background-color linear, 0.1s color linear;
  }
}

.container-lighttheme {
  margin: 0;
  padding: 0px 30px;
}

.content-lighttheme {
  padding: 0px;
  .lighttheme {
    border-radius: 1px;
    padding: 21px 34px;
    font-size: 14px;
    color: black;
    border: 1px solid black;
    background-color: white;
    transition: 0.1s background-color linear, 0.1s color linear;
  }
  .lighttheme:hover {
    background-color: black;
    color: white;
    transition: 0.1s background-color linear, 0.1s color linear;
  }
}
