/* NAVBAR MOBILE */
.content-lighttheme {
  padding-top: 110px;
}
.devise-container-lighttheme {
  .content-devise {
    margin-top: 120px;
  }
}
.navbar-laptop-lighttheme.nav-mobile {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
@media all and (min-width: 800px) {
  .stage-container {
    margin-top: -100px;
  }
}

@media all and (max-width: 800px) {
  .container-lighttheme-show {
    margin-top: -40px !important;
  }
}

.navbar-laptop-lighttheme {
  background: white;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navbar-brand {
    display: flex;
    align-items: center;
    padding: 0px;
    margin-left: 20px;
    height: 70px;
    font-family: Signika Negative;
    img {
      display: flex;
      flex: 1 0 auto;
      height: 100%;
    }
    span {
      color: #3C3C3C;
      font-size: 27px;
      letter-spacing: 3px;
      font-weight: 400;
    }
  }
  .navbar-item .nav-bar-list a {
    font-size: 15px;
  }
  .lightcart {
    width: 20px;
    top: -1px;
    position: relative;
  }
  .fa-instagram {
    font-size: 20px;
  }
}

#lighttheme-filter-search, #lighttheme-filter-search-mobile {
  margin-right: 20px;
  .searchimg {
    width: 20px;
    top: -2px;
    position: relative;
  }
}

.opacity-on-laptop {
  background: rgba(255, 255, 255, 0.4);
}

.navbar-mobile-lighttheme {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Navbar logo */
  .navbar-brand-mobile {
    display: flex;
    padding: 0px;
    img {
      display: flex;
      flex: 1 0 auto;
      margin-left: 15px;
      height: 23px;
    }
  }
  .lightcart {
    width: 19px;
    top: -1px;
    position: relative;
  }
  .infoimg {
    width: 20px;
    top: -1px;
    position: relative;
  }
  .blogimg {
    width: 25px;
    top: -1px;
    position: relative;
  }
  .fa-instagram {
    font-size: 20px;
  }
}
