/* NAVBAR MOBILE */
.content {
  padding-top: 90px;
}
.alert.alert-dismissible {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 70px;
}
.navbar-mobile {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
}
.jumbotron {
  margin-top: -20px;
}
.devise-container {
  padding-top: 70px;
}
.navbar-laptop {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
}

/* NAVBAR FIXE */
// .content {
//   padding-top: 20px;
// }
// .jumbotron {
//   margin-top: -20px;
// }

/* Navbar laptop */
.navbar-laptop {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  .main-nav {
    background: $navbar;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
  .nav-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: rgba(226,162,77,0.9);
    a {
      width: 190px;
      margin:0 20px;
      color: black;
      font-weight: 100;
      text-align: center;
    }
    hr {
      width: 10px;
      margin: 0;
      transform: rotate(0.25turn);
      border-top: 1px solid black;
    }
  }
  /* Navbar logo */
  .navbar-brand {
    display: flex;
    align-items: center;
    padding: 0px;
    img {
      display: flex;
      flex: 1 0 auto;
      margin-left: 30px;
      height: 100%;
    }
    span {
      color: $nav-text-color;
      margin-left: 15px;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      font-weight: 100;
      font-size: 16px;
      &:hover {
        border-bottom: 1px solid $nav-text-color;
      }
    }
  }
}

  .fa-shopping-cart {
    font-size: 22px;
  }

/* Navbar mobile */
.navbar-mobile {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $navbar;
  .main-nav-mobile {
    background: $navbar;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
  .nav-categories-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: rgba(226,162,77,0.9);
    a {
      width: 125px;
      margin:0 20px;
      color: black;
      font-weight: 100;
      text-align: center;
    }
    hr {
      width: 10px;
      margin: 0;
      transform: rotate(0.25turn);
      border-top: 1px solid black;
    }
  }
  /* Navbar logo */
  .navbar-brand-mobile {
    display: flex;
    align-items: center;
    padding: 0px;
    img {
      display: flex;
      flex: 1 0 auto;
      margin-left: 15px;
      height: 30px;
    }
    span {
      color: $nav-text-color;
      margin-left: 15px;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      font-weight: 100;
      font-size: 16px;
      &:hover {
        border-bottom: 1px solid $nav-text-color;
      }
    }
  }
  .dropdown-menu {
    left: auto;
    right: 0px;
  }
}

/* Navbar right items */
.navbar-item {
  cursor: pointer;

  /* laptop */
  .nav-bar-list {
    display: flex;
    list-style: none;
    .dropdown .dropdown-menu{
      a {
        color: black;
        margin-right: 0px;
        text-align: center;
      }
    }
    .lightcart {
      width: 23px;
      top: -1px;
      position: relative;
    }
    a {
        text-decoration: none !important;
        color: $nav-text-color;
        margin-right: 20px;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
        font-weight: 100;
      i {
        color: $nav-text-color;
      }
    }
    a:hover {
      border-bottom: 1px solid $nav-text-color;
    }
  }
  /* mobile */
  .list-mobile {
    display: flex;
    list-style: none;
    .dropdown .dropdown-menu{
      a {
        color: black;
        margin-right: 0px;
        text-align: center;
      }
    }
    a {
      text-decoration: none !important;
      color: $nav-text-color;
      margin-right: 15px;
      font-weight: 100;
    }
  }
}

/* Optional class to fix the navbar on top */
.navbar-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}
