/* NAVBAR MOBILE */
.content {
  padding-top: 90px;
}
.alert.alert-dismissible {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 70px;
}
.navbar-mobile {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
}
.jumbotron {
  margin-top: -20px;
}
.devise-container {
  padding-top: 70px;
}
.navbar-laptop {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
}

/* NAVBAR FIXE */
// .content {
//   padding-top: 20px;
// }
// .jumbotron {
//   margin-top: -20px;
// }

/* Navbar laptop */
.navbar-laptop {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $navbar;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    /* Navbar logo */
  .navbar-brand {
    display: flex;
    padding: 0px;
    img {
      display: flex;
      flex: 1 0 auto;
      margin-left: 30px;
      height: 100%;
    }
  }
}

  .fa-shopping-cart {
    font-size: 22px;
  }

/* Navbar mobile */
.navbar-mobile {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $navbar;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Navbar logo */
  .navbar-brand-mobile {
    display: flex;
    padding: 0px;
    img {
      display: flex;
      flex: 1 0 auto;
      margin-left: 15px;
      height: 30px;
    }
  }

}

/* Navbar right items */
.navbar-item {
  cursor: pointer;

  /* laptop */
  .nav-bar-list {
    display: flex;
    list-style: none;
    a {
        text-decoration: none !important;
        color: black !important;
        margin-right: 20px;
        padding-bottom: 2px;
         border-bottom: 1px solid transparent;
      i {
        color: black !important;
      }
    }
    a:hover {
      border-bottom: 1px solid black;
    }
  }
  /* mobile */
  .list-mobile {
    display: flex;
    list-style: none;
    a {
      text-decoration: none !important;
      color: black !important;
      margin-right: 15px;
    }
  }
}

/* Optional class to fix the navbar on top */
.navbar-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}
