<h2 style="text-align: center; margin: 50px 30px; font-weight: 300">Désolé, cette page n'existe plus.</h2>

<h2 style="text-align: center; margin: 50px 30px; font-weight: 300">
  <%= link_to "Retourner dans la boutique", ceramiques_path, class: "link-404"%>
</h2>
