<h2 style="text-align: center; margin: 50px 30px; font-weight: 300"><%=t(:sorry_404)%></h2>

<h2 style="text-align: center; margin: 50px 30px; font-weight: 300">
  <%= link_to t(:back_to_shop_404), ceramiques_path, class: "link-404"%>
</h2>
