.page-top-darktheme {
  position: relative;
  h1 {
    margin-left: 30px;
    color: white
  }
}

.basket-item-darktheme {
  &:nth-child(1) {
    border-top: 1px solid $primary-opacified;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #242424;
  padding: $padding-small;
  border-radius: $project-border-radius;
  border-bottom: 1px solid $primary-opacified;
  .basket-article-img {
    width: 10%;
    height: 10%;
  }
  .basket-article-img{
    border-radius: $project-border-radius;
  }
  i{
    margin-right: 20px;
    font-size: $font-size-i;
    color: $primary;
  }
  h4, h5 {
    color: white;
  }
}

.shipping-cost {
  display: flex;
  justify-content: center;
  select {
    width: 150px;
    margin: 0 10px;
  }
}
@media all and (max-width: 600px) {
  .shipping-cost {
    select {
      width: 110px !important;
      margin: 0 5px;
    }
    h5 {
      font-size: 16px;
    }
  }
}

.total-darktheme {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 50px;
  label {
    color: white;
  }
  .cost-details {
    width: 400px;
   margin-right: 20px;
  }
  .hidden-sm {
    margin: 11px 0px 20px 0px;
    text-align: center;
      h3, h4 {
        margin: 20px 0px 0px 0px;
        color: white;
      }
      h5 {
        margin: 10px 0px 0px 0px;
        color: white;
      }
  }
  .hidden-md {
    min-width: 250px;
  }
  .payment-form .input-label-take-away label {
    color: white;
  }
}

// MOBILE
.cost-details-mobile {
  text-align: center;
  margin-top: 30px;
}

.h3mobile {
  margin-left: 0px;
  margin-top: 5px;
  font-weight: $font-weight-h3-mobile;
  font-size: 25px;
}

.basket-item.mobile-darktheme {
  margin: 0px 10px 10px 10px;
  justify-content: space-around;
  background: #242424;
  border-bottom: 1px solid $primary-opacified;
    &:nth-child(1) {
    border-top: 1px solid $primary-opacified;
  }
  .basket-article-img {
    width: 45%;
    height: 45%;
  }
  .order-detail {
    text-align: center;
    i {
      margin: 0px;
    }
  }
}

.content-darktheme {
  .payment-form label {
    color: white;
  }
}

.total.mobile {
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

