
.contact-coord {

  display: flex;
  .coord {
    margin-left: 15px;
    label {
      color: white;
    }
    .live-text, .plain-text {
      h1 {
        font-size: 34px;
        margin-left: 0px;
      }
      p {
        font-weight: 100;
        line-height: 1.5;
      }
    }
    .social-buttons-contact {
      a {
        margin: 5px;
        font-size: 25px;
      }
    }
  }
  .subscribe-text {
    text-align: center;
    h2 {
      font-weight: 400;
      font-size: 35px;
      margin-left: 0px;
    }
  }
  .subscribe-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .subscribe-input {
      padding: 15px 15px 15px 15px;
      margin: 10px auto;
      width: 80%;
      border: 1px solid #bfbfbf;
      font-size: 16px;
      color: black;
      font-weight: 100;
    }
    .textarea {
      min-height: 150px;
    }
    .btn.btn-primary, .submit-lightheme-contact {
      width: 80%;
      margin: 10px auto;
    }
  }
}

.submit-lightheme-contact {
  border-radius: 1px;
  padding: 21px 34px;
  font-size: 14px;
  color: black;
  border: 1px solid black;
  background-color: white;
  transition: 0.1s background-color linear, 0.1s color linear;
}
.submit-lightheme-contact:hover {
  background-color: black;
  color: white;
  transition: 0.1s background-color linear, 0.1s color linear;
}

.body-default {
    .subscribe-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .subscribe-input {
      padding: 15px 15px 15px 15px;
      margin: 10px auto;
      width: 80%;
      border: 1px solid #bfbfbf;
      font-size: 16px;
      color: black;
      font-weight: 100;
    }
    .textarea {
      min-height: 150px;
    }
    .btn.btn-primary {
      width: 80%;
      margin: 10px auto;
    }
  }
}

.photos-and-maps {
  padding: 30px;
  display: flex;
  .atelier {
    width: 50%;
    padding-right: 30px;
    img {
      width: 100%;
    }
  }
  .localisation-contact {
    width: 50%;
    border-radius: $project-border-radius;
    border: none;
    margin: 0px;
    .city-img {
      position: relative;
      img {
        width: 100%;
      }
      .black-bar {
        height: 30px;
        width: 100%;
        background: #171717;
        position: absolute;
        z-index: 4;
        bottom: -7px;
      }
      .white-bar {
        height: 30px;
        width: 100%;
        background: white;
        position: absolute;
        z-index: 4;
        bottom: -7px;
      }
    }
    .map-container {
    width: 100%;
    height: 50%;
    #map {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  }
}

.photos-and-maps-mobile {
  img {
    width: 100%;
  }
  #map-mobile {
    width: 100%;
    height: 150px;
  }
}
