<% content_for(:title_tag) do %>
  Paiement demande de stage
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- LAPTOP -->
      <div class="hidden-xs hidden-sm">
        <div class="text-center-stage">
            <h4>Merci pour votre paiement, votre stage est validé.</h4>
            <h4>Un mail de confirmation vous a été envoyé. Vérifiez dans vos emails indésirables.</h4>
        </div>
      </div>

      <!-- MOBILE -->
      <div class="hidden-md hidden-lg">
        <div class="text-center-stage-mobile">
          <h3>Merci pour votre paiement, votre stage est validé.</h3>
          <h3>Un mail de confirmation vous a été envoyé. Vérifiez dans vos emails indésirables.</h3>
        </div>
      </div>

    </div>
  </div>
</div>

