<% content_for(:title_tag) do %>
  Paiement demande de stage
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- LAPTOP -->
      <div class="hidden-xs hidden-sm">
        <div class="text-center-stage">
            <h4><%=t(:thanks_lesson)%></h4>
            <h4><%=t(:mail_sent)%></h4>
        </div>
      </div>

      <!-- MOBILE -->
      <div class="hidden-md hidden-lg">
        <div class="text-center-stage-mobile">
          <h3><%=t(:thanks_lesson)%></h3>
          <h3><%=t(:mail_sent)%></h3>
        </div>
      </div>

    </div>
  </div>
</div>

