<% content_for(:title_tag) do %>
  Confirmation de demande de stage
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- LAPTOP -->
      <div class="hidden-xs hidden-sm">
        <div class="text-center-stage">
            <h4>Votre demande est enregistrée, vous recevrez un mail de confirmation dès qu'elle sera traitée.</h4>
        </div>

        <div class="back-stage">
          <%= link_to ceramiques_path do %>
            <span><i class="fa fa-arrow-right"></i> Liste des céramiques</span>
          <% end %>
        </div>
      </div>

      <!-- MOBILE -->
      <div class="hidden-md hidden-lg">
        <div class="text-center-stage-mobile">
            <h3>Votre demande est enregistrée, vous recevrez un mail de confirmation dès qu'elle sera traitée.</h3>
        </div>

        <div class="back-stage-mobile">
          <%= link_to ceramiques_path do %>
            <span><i class="fa fa-arrow-right"></i> Liste des céramiques</span>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

