.body-darktheme {
  .comment-block {
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid white;
  }
}

.body-default, .body-lighttheme {
  .comment-block {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}

.comment-block {
  width: 100%;
  background: white;
  border: 3px solid white;
  border-radius: 0px;
  margin-bottom: 40px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow: hidden;
  position: relative;
  .comment-delete-link {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .left-block-temoignage {
    transform: skew(20deg);
    display: flex;
    min-width: 40%;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
    // -3px 0px 0px 0px #F2E8DD,
    position: relative;
    left: -20px;
    h2 {
      transform: skew(-20deg);
      padding: 20px;
    }
  }
  .right-block-temoignage {
    width: 50%;
    margin: 0 30px 0 50px;
    text-align: center;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .right-block-temoignage:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    content: "\201C";
    top: -17px;
    left: -30px;
  }
  .right-block-temoignage:after {
    font-family: Georgia, serif;
    position: absolute;
    float:right;
    font-size:6em;
    content: "\201D";
    right:-20px;
    bottom:-73px;
  }
}

.comment-block-mobile {
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid white;
  border-radius: 0px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 0 10px 40px 10px;

  .left-block-temoignage-mobile {
    h2 {
      margin-top: 10px;
    }
  }
  .right-block-temoignage-mobile {
    margin: 50px 10px 50px 10px;
    text-align: center;
    position: relative;
  }
  .right-block-temoignage-mobile:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    content: "\201C";
    top: -56px;
    left: -16px;
  }
  .right-block-temoignage-mobile:after {
    font-family: Georgia, serif;
    position: absolute;
    float:right;
    font-size:6em;
    content: "\201D";
    right:-20px;
    bottom:-107px;
  }
}

.body-darktheme {
  .left-block-temoignage {
    background: #171717;
  }
  .comment-delete-link {
    color: white;
  }
  .right-block-temoignage:before, .right-block-temoignage:after {
   color: white;
  }
}
