$(document).ready(function() {

  $('#input1').keyup(function() {
    var converter = new showdown.Converter(),
    text = $(this).val(),
    html = converter.makeHtml(text);
      $('#live-text1').html(html);
  });

    $('#input2').keyup(function() {
    var converter = new showdown.Converter(),
    text = $(this).val(),
    html = converter.makeHtml(text);
      $('#live-text2').html(html);
  });

  $('#input3').keyup(function() {
    var converter = new showdown.Converter(),
    text = $(this).val(),
    html = converter.makeHtml(text);
      $('#live-text3').html(html);
  });

  $('#input4').keyup(function() {
    var converter = new showdown.Converter(),
    text = $(this).val(),
    html = converter.makeHtml(text);
      $('#live-text4').html(html);
  });

  $('#article_content').keyup(function() {
    var converter = new showdown.Converter(),
    text = $(this).val(),
    html = converter.makeHtml(text);
    $('#live-text-temoignages').html(html);
  });
  $('#article_name').keyup(function() {
    text = $(this).val(),
    $('#live-name-temoignages').html('<h2>' + text + '</h2>');
  });

  $('#article_title').keyup(function() {
    text = $(this).val(),
    $('#h1-live_article_title').html("<h1>" + text + "</h1>");
  });

});
