.ceramique-filters-content {
  position: fixed;
  width: 218px;
  margin-top: 20px;
  background: $card-background;
  border-radius: $project-border-radius;
  border: $card-border;
  padding: $padding-small;

  .label-search {
    font-weight: $font-weight-label;
  }

  .label-search.all {
    width: 100%;
    margin-bottom: 20px;
  }

  h2 {
    font-weight: $font-weight-h4-search;
    font-size: $font-size-h4;
    margin-bottom: 20px;
    color: $filter-title;
  }

  h3 {
    font-size: $font-size-h5;
    font-weight: $font-weight-h5-search;
  }


  input {
    margin-right: 5px;
  }

  .prix {
    width: 100px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li:last-child {
      margin-bottom: 20px;
    }
  }
}
