.container {
  margin-top: 20px;

  .col-xs-12 {
    padding: 0px;
  }

// LAPTOP
  .product-show {
    display: flex;
    .img-front {
      border-radius: $project-border-radius;
      width: 50%;
      height: 50%;
    }
    .info-add-basket {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      background: $card-background;
      padding: $padding-large;
      border-radius: $project-border-radius;
      border: $card-border;
      width: 100%;
      h1 {
        margin: 10px 0px 20px 0px;
        font-size: $font-size-h3;
        font-weight: 500;
      }
      p.description {
        margin-top: 20px;
        margin-bottom: 35px;
        margin-left: 10px;
        font-weight: $font-weight-h4;
        font-size: $font-size-h4;
      }
      .description {
        position: relative;
        .social-buttons {
          position: absolute;
          top: 0px;
          right: 0px;
          font-size: 20px;
          .fa-facebook-square {
            color: #3b5998;
          }
          .fa-pinterest-square {
            color: #bd081c;
            cursor: pointer;
          }
          .fa-twitter-square{
            color: #1da1f2;
          }
        }
      }
      .prix-form {
        h2 {
          margin-bottom: 12px;
          margin-top: 5px;
          margin-left: 10px;
          font-size: $font-size-h4;
        }
        h3 {
          margin-bottom: 10px;
          font-size: 13px;
          margin-left: 10px;
          text-decoration: line-through;
        }
        .form {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: 10px;
        }
      }
    }
  }

  .other-imgs {
    margin-top: 30px;
    margin-bottom: 0px;
    position: relative;
    .images {
      display: flex;
      align-items: center;
      .thumbnail {
        border-radius: $project-border-radius;
        width: 15%;
        height: 15%;
        margin-right: 10px;
        transition: all ease 0.2s;
      }
      .thumbnail:hover {
          transform: scale(1.01);
          box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
          transition: ease 0.2s;
      }
    }
    a {
      position: absolute;
      bottom: 20px;
      right: 10px;
      flex: 1 0 auto;
      max-width: 200px;
      text-decoration: none;
      color: $link-laptop
    }
    a:hover {
      color: $primary;
    }
  }

  .product-show-separator {
        border-top: 1px solid #ccc;
  }

  .same-category-products {
    margin-bottom: 50px;
    h2 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .same-category-products-cards {
      .card-separator {
        display: flex;
        justify-content: center;
        .same-category-product-card {
          display: flex;
          margin: 12px 15px;
          background-color: $card-background;
          border-radius: $project-border-radius;
          border: $card-border;
          padding: $padding-small;
          transition: ease 0.2s;
          .same-category-product-card-link {
            display: flex;
            width:100%;
            height: 100%;
            color: black;
            .same-product-photo {
              height: 100px;
              border-radius: $project-border-radius;
            }
            .same-category-product-card-text {
              margin-left: 10px;
              width: 100%;
              text-align: center;
              .ceramique-name {
                font-size: 18px;

                margin-top: 5px;
              }
              .prix-index {
                font-size: 16px;
                font-weight: 100;
                margin-bottom: 5px;
              }
              .prix-index-wo-discount {
                font-size: 16px;
                font-weight: 100;
                margin-bottom: 5px;
                margin-top: 18px;
              }
              .previous-price {
                margin-bottom: 0px;
                font-size: 10px;
                text-decoration: line-through;
              }
            }
          }
        }
        .same-category-product-card:hover {
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
          transition: ease 0.2s
        }
      }
    }
  }

// MOBILE
  .head {
    .image-xs-sm {
      margin-left: 10px;
      margin-right: 10px;
      img {
        border-radius: $project-border-radius;
        width: 100%;
      }
    }
    h1 {
      margin-left: 15px;
      font-size:$font-size-h3;
      margin: 10px 0px 20px 15px;
    }
  }
  .other-imgs.other-mobile {
    margin-top: 10px;
    .images {
      margin-left: 10px;
      display: flex;
      justify-content: space-around;
    }
    .thumbnail {
      margin-bottom: 10px;
    }
  }
  .product-show-mobile {
    display: flex;
    .info-add-basket {
      margin-top: -30px;
      margin-right: 10px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: $card-background;
      padding: $padding-small;
      border-radius: $project-border-radius;
      border: $card-border;
      width: 100%;
       p.description {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: $font-size-h4;
        font-weight: $font-weight-p;
      }
      .prix-form {
        h2.prix {
          margin-top: 0px;
          margin-bottom: 10px;
          margin-left: 10px;
          font-size: $font-size-h4;
        }
       h3.previous-price {
          margin-bottom: 10px;
          font-size: 13px;
          margin-left: 10px;
          text-decoration: line-through;
        }
        .form {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: 10px;
        }
      }
    }
  }

  .mobile-link{
    margin: 20px;
  }
}
