.container {
  margin-top: 20px;

  .col-xs-12 {
    padding: 0px;
  }

// LAPTOP
  .product-show {
    display: flex;
    .img-front {
      border-radius: $project-border-radius;
      width: 50%;
      height: 50%;
    }
    .info-add-basket {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      background: $card-background;
      padding: $padding-large;
      border-radius: $project-border-radius;
      border: $card-border;
      width: 100%;
      h1 {
        margin: 10px 0px 20px 0px;
        font-size: $font-size-h3;
        font-weight: 500;
      }
      p.description {
        margin-top: 20px;
        margin-bottom: 35px;
        margin-left: 10px;
        font-weight: $font-weight-h4;
        font-size: $font-size-h4;
      }
      .description {
        position: relative;
        .social-buttons {
          position: absolute;
          top: 0px;
          right: 0px;
          font-size: 20px;
          .fa-facebook-square {
            color: #3b5998;
          }
          .fa-pinterest-square {
            color: #bd081c;
            cursor: pointer;
          }
          .fa-twitter-square{
            color: #1da1f2;
          }
        }
      }
      .prix-form {
        h2 {
          margin-bottom: 12px;
          margin-top: 5px;
          margin-left: 10px;
          font-size: $font-size-h4;
        }
        h3 {
          margin-bottom: 10px;
          font-size: 13px;
          margin-left: 10px;
          text-decoration: line-through;
        }
        .form {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: 10px;
        }
      }
    }
  }

  .other-imgs {
    margin-top: 30px;
    position: relative;
    margin-bottom: 30px;
    .images {
      display: flex;
      align-items: center;
      .thumbnail {
        border-radius: $project-border-radius;
        width: 20%;
        height: 20%;
        margin-right: 10px;
        transition: all ease 0.2s;
      }
      .thumbnail:hover {
          transform: scale(1.01);
          box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
          transition: ease 0.2s;
      }
    }
    a {
      position: absolute;
      bottom: 20px;
      right: 10px;
      flex: 1 0 auto;
      max-width: 200px;
      text-decoration: none;
      color: $link-laptop
    }
    a:hover {
      color: $primary;
    }
  }

// MOBILE
  .head {
    .image-xs-sm {
      margin-left: 10px;
      margin-right: 10px;
      img {
        border-radius: $project-border-radius;
        width: 100%;
      }
    }
    h1 {
      margin-left: 15px;
      font-size:$font-size-h3;
      margin: 10px 0px 20px 15px;
    }
  }
  .other-imgs.other-mobile {
    margin-top: 10px;
    .images {
      margin-left: 10px;
      display: flex;
      justify-content: space-around;
    }
    .thumbnail {
      margin-bottom: 10px;
    }
  }
  .product-show-mobile {
    display: flex;
    .info-add-basket {
      margin-top: -30px;
      margin-right: 10px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: $card-background;
      padding: $padding-small;
      border-radius: $project-border-radius;
      border: $card-border;
      width: 100%;
       p.description {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: $font-size-h4;
        font-weight: $font-weight-p;
      }
      .prix-form {
        h2 {
          margin-top: 0px;
          margin-bottom: 10px;
          margin-left: 10px;
          font-size: $font-size-h4;
        }
        .form {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: 10px;
        }
      }
    }
  }

  .mobile-link{
    margin: 20px;
  }
}
