.h1-index {
  h1 {
    font-size: $font-size-h4;
    margin: 0px;
  }
  hr {
    margin: 5px 0px 10px 0px;
  }
}

.h1-index.mobile {
  margin: 0px 10px;
}

.cardlink {
  text-decoration: none !important;
}

.ceramiquecard {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: $padding-large;
  background: $card-background;
  border-radius: $project-border-radius;
  border: $card-border;
  text-decoration: none;
  min-height: 450px;

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;

    .img {
      border-radius: $project-border-radius;
      width: 95%;
    }
    .img-resized {
      border-radius: $project-border-radius;
    }
    .prix-index {
      position: absolute;
      bottom: -63px;
      right: -14px;
    }
  }

  h2 {
    margin-top: 30px;
    font-size: $font-size-h4;
  }

  h2, h3 {
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    h2:hover, h2:hover {
      text-decoration: none;
    }
  }
  h3 {
    color: $card-text;
    font-weight: $font-weight-h5;
    font-size: $font-size-h5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.ceramiquecard.mobile {
  margin: 0px 10px 10px 10px;
  padding: 7px 0px 0px 0px;
  min-height: 0px;
  h3 {
    margin-bottom: 20px;
    color: $card-text;
    font-weight: $font-weight-h5;
    font-size: $font-size-h5;
  }
  .prix-index {
      position: absolute;
      bottom: -63px;
      right: -14px;
  }
  h2 {
    margin-left: 24px;
    font-size: $font-size-h4;
  }
}

.ceramiquecard:hover {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.ceramique-list {
  margin-bottom: 60px;
}
