// LAPTOP
.wrapper {
  display: flex;
  margin-bottom: 30px;

  .img-francoise {
    // width: 100%;
    flex: 0 0 25%;
    border-radius: $project-border-radius;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .texte {
    margin-top: 20px;
    margin-bottom: 10px;
    background: $card-background;
    padding: $padding-large;
    border-radius: $project-border-radius;
    border: $card-border;
  }
}

.localisation {
  border-radius: $project-border-radius;
  border: $card-border;
  display: flex;
  margin-bottom: 30px;
  .img-cordes {
    height: 200px;
  }
  #map {
    width: 100%;
    height: 200px;
  }
}

.back-in-home {
  float: right;
  text-decoration: none;
  color: $link-laptop;
  margin-bottom: 30px;
}

// MOBILE
.wrapper-mobile {
  position: relative;
  margin: 0px 10px 30px 10px;
  background: white;
  padding: $padding-small;
  border-radius: $project-border-radius;
  border: $card-border;
  .img-francoise-mobile {
    position: absolute;
    border-radius: 50%;
    top: 10px;
    right: 12px;
    height: 80px;
    width: 80px;
  }
  h4 {
    margin-top: 21px;
    margin-bottom: 43px;
  }
}

.localisation-mobile {
  border-radius: $project-border-radius;
  border: $card-border;
  margin-bottom: 20px;
  .img-cordes-mobile {
    width: 100%;
  }
  #map-mobile {
    width: 100%;
    height: 120px;
  }
}

.back-in-home-mobile {
  text-decoration: none;
  color: $primary;
  margin-bottom: 30px;
  margin-left: 20px;
}

.mobile-info {
  margin-bottom: 20px;
}

// COMMON

a:hover {
  color: $primary;
  text-decoration: none;
}
