// LAPTOP
.wrapper {
  display: flex;
  margin-bottom: 30px;
  position: relative;

  .img-avatar {
    width: 40%;
    height: 40%;
    flex: 0 0 25%;
    border-radius: $project-border-radius;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .texte {
    h1 {
      font-size: $font-size-h4;
      margin: 11px 0px 30px 0px;
    }
    h2 {
      font-weight: 400;
      font-size: $font-size-h5;
      margin: 19px 0px 0px 0px;
    }
    p {
    margin: 8px 10px 10px 10px;
    font-weight: $font-weight-p;
    }
    margin-top: 20px;
    margin-bottom: 10px;
    background: $card-background;
    padding: $padding-large;
    border-radius: $project-border-radius;
    border: $card-border;
  }
}

.localisation {
  border-radius: $project-border-radius;
  border: $card-border;
  display: flex;
  margin-bottom: 30px;
  position: relative;
  .img-city {
    img {
      height: 200px;
    }
  }
  #map {
    width: 100%;
    height: 200px;
  }
}

.back-in-home {
  float: right;
  text-decoration: none;
  color: $link-laptop;
  margin-bottom: 30px;
}

// MOBILE
.wrapper-mobile {
  position: relative;
  margin: 0px 10px 30px 10px;
  background: $card-background;
  padding: $padding-small;
  border-radius: $project-border-radius;
  border: $card-border;
  .img-avatar-mobile {
    img {
      position: absolute;
      border-radius: 50%;
      top: 12px;
      right: 12px;
      height: 7%;
    }
  }
  h1 {
    font-size: $font-size-h4;
    margin: 11px 0px 30px 0px;
  }
  h2 {
    font-weight: 400;
    font-size: $font-size-h5;
    margin: 19px 0px 0px 0px;
  }
  p {
    margin: 8px 10px 10px 10px;
    font-weight: $font-weight-p;
  }
}

.localisation-mobile {
  border-radius: $project-border-radius;
  border: $card-border;
  margin-bottom: 20px;
  .img-city-mobile {
    img {
      width: 100%;
    }
  }
  #map-mobile {
    width: 100%;
    height: 120px;
  }
}

.back-in-home-mobile {
  text-decoration: none;
  color: $primary;
  margin-bottom: 30px;
  margin-left: 20px;
}

.mobile-info {
  margin-bottom: 20px;
}

// COMMON

a:hover {
  color: $primary;
  text-decoration: none;
}
