.orange-div {
  height: 600px;
  background: linear-gradient(to right, #594f42, $primary);
  transform: skewY(-12deg);
  position: absolute;
  top: -70px;
  width: 100%;
}

.orange-div-left {
  height: 108px;
  background: #BD8C50;
  transform: skewY(-12deg);
  position: absolute;
  top: 26px;
  width: 33%;
}

.orange-div-right {
  height: 107px;
  width: 20%;
  background: #856A49;
  transform: skewY(-12deg);
  position: absolute;
  right: 0px;
  top: 120px;
}

.orange-div-bottom {
  height: 150px;
  width: 50%;
  background: #C38F51;
  transform: skewY(-12deg);
  position: absolute;
  right: 0px;
  bottom: 0px;
}
