.body-stage {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  label {
    color: $stage-color-label
  }
  .submit-div-stage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .texte-stage {
    margin-top: 20px;
    margin-bottom: 10px;
    background: $card-background;
    padding: $padding-large;
    border-radius: $project-border-radius;
    border: $card-border;
    h1 {
      font-size: $font-size-h4;
      margin: 11px 0px 20px 0px !important;
    }
    p {
      font-weight: $font-weight-p;
        strong {
          font-weight: $font-weight-p-strong;
      }
    }
  }
}

.available-course {
  background-color: $available-stage-background-color;
}

.body-stage-mobile {
  background: #e6dada;
  background: $mobile-stage-background-gradient;
  .stage {
    margin: 10px;
    .submit-div-stage {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .texte-stage {
      margin-top: 20px;
      margin-bottom: 10px;
      background: $card-background;
      padding: $padding-large;
      border-radius: $project-border-radius;
      border: $card-border;
      h1 {
        font-size: $font-size-h4;
        margin: 11px 0px 20px 0px !important;
      }
      p {
        font-weight: $font-weight-p;
        strong {
          font-weight: $font-weight-p-strong;
        }
      }
    }
  }
}
