.body-stage {
  label {
    color: $stage-color-label
  }
  .social-buttons {
    position: absolute;
    top: -9px;
    right: 15px;
    font-size: 20px;
    .fa-facebook-square {
      color: #3b5998;
    }
    .fa-pinterest-square {
      color: #bd081c;
      cursor: pointer;
    }
    .fa-twitter-square{
      color: #1da1f2;
    }
  }
  .submit-div-stage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-container {
    display: flex;
    .texte-stage {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 30px;
      background: $card-background;
      padding: $padding-large;
      border-radius: $project-border-radius;
      border: $card-border;
      h1 {
        font-size: $font-size-h4;
        margin: 11px 0px 20px 0px !important;
      }
      h2 {
        font-size: $font-size-h5;
      }
      p {
        text-align: justify;
        font-weight: $font-weight-p;
          strong {
            font-weight: $font-weight-p-strong;
        }
      }
      #input3 {
        min-height: 200px;
      }
    }
    .control-label.text.required {
      color: black;
    }
  }

}

.available-course {
  background-color: $available-stage-background-color;
}

.body-stage {
  .stage-mobile {
    margin: 10px;
    .social-buttons {
      position: absolute;
      top: -14px;
      right: 11px;
      font-size: 20px;
      .fa-facebook-square {
        color: #3b5998;
      }
      .fa-pinterest-square {
        color: #bd081c;
        cursor: pointer;
      }
      .fa-twitter-square{
        color: #1da1f2;
      }
    }
    .submit-div-stage {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .texte-stage {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      background: $card-background;
      padding: $padding-large;
      border-radius: $project-border-radius;
      border: $card-border;
      h1 {
        font-size: $font-size-h4;
        margin: 11px 0px 20px 0px !important;
      }
      h2 {
        font-size: $font-size-h5;
      }
      p {
        font-weight: $font-weight-p;
        strong {
          font-weight: $font-weight-p-strong;
        }
        text-align: justify;
      }
    }
  }
}
