.box-img {
  width: 10%;
  margin: 20px 0px;
}

h3 {
margin-top: 10px;
margin-bottom: 20px;
}
.last-h3-confirmation {
 margin-bottom: 100px;
}

.back > a {
  text-decoration: none;
  color: $link-laptop;
  float: right;
  margin-top: 100px;
}

.back:hover > a {
  color: $primary;
  text-decoration: none;
}

.mobile-confirmation {
  .box-img-mobile-xs {
    width: 25%;
  }
  .box-img-mobile-sm {
    width: 15%;
  }
  h4 {
    font-weight: $font-weight-h4;
    margin: 11px 11px 20px 11px;
  }
  h4:last-child {
    margin-bottom: 30px;
  }

}

