// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/*";
@import "social-share-button";

// Your CSS
@import "components/*";
@import "config/*";
@import "layout/*";
@import "pages/*";


.body {
  background-color: $body;
}

.content {
  min-height: calc(100vh - 90px);
}

.devise-container {
  min-height: calc(100vh - 90px);
  .content-devise {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 10px;
    margin-left: 10px;
    background: $card-background;
    padding: $padding-large;
    border-radius: $project-border-radius;
    border: $card-border;
    h2 {
      text-align: center;
    }
    .help-block {
      font-weight: $font-weight-p;
      font-size: $font-size-p-devise;
    }
    .form-actions {
     text-align: center;
     margin-bottom: 20px;
    }
  }
}
