// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/*";

// Your CSS
@import "components/*";
@import "components/lighttheme/*";
@import "components/darktheme/*";
@import "config/*";
@import "layout/*";
@import "pages/*";

.content {
  min-height: calc(100vh - 90px);
}

.col-xs-12 {
  padding: 0px;
}
